
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
}
.logo{
    width: 110px;
    cursor: pointer;
}
.list{
    flex: 1;
    list-style: none;
    text-align: center;
}
.list li{
    display: inline-block;
    margin: 10px 17px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(96, 95, 95);
}
.icon{
    list-style: none;
    text-align: center;  
}
.icon li{
    display: inline-block;
    margin: 6px;
    cursor: pointer;
}
